/Test1/nbproject/private/
/Test1/build/
/HuongDoiTuong/nbproject/private/
/HuongDoiTuong/build/
/Test2/nbproject/private/
/Test2/build/
/HangDoi/nbproject/private/
/NganXep/nbproject/private/
/NganXep/build/
/HangDoi/build/
/preTest3/nbproject/private/
/preTest3/build/
/Test/nbproject/private/
/Test/build/
/Test3/nbproject/private/
/DoThi/nbproject/private/
/DoThi/build/
/Test4/nbproject/private/
/Test4/build/
