/Test1/nbproject/private/
/Test1/build/
/HuongDoiTuong/nbproject/private/
/HuongDoiTuong/build/
/Test2/nbproject/private/
/Test2/build/
/HangDoi/nbproject/private/
/NganXep/nbproject/private/
/NganXep/build/
/HangDoi/build/
